In [4]:
import pandas as pd

df_raw = pd.read_csv("TradeData_11_24_2025_13_5_30.csv", encoding="latin1")
df_raw.columns = df_raw.columns.str.replace('ï»¿', '')
df_raw.head()

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,C,A,20230101,2023,52,2023,156,CHN,China,M,...,0.0,True,0,False,42813159.0,NaN,42813159.0,4,False,True
1,C,A,20230101,2023,52,2023,156,CHN,China,X,...,0.0,True,0,False,NaN,10160127.0,10160127.0,4,False,True
2,C,A,20230101,2023,52,2023,156,CHN,China,M,...,18000.0,False,0,False,4035273.0,NaN,4035273.0,2,False,True
3,C,A,20230101,2023,52,2023,156,CHN,China,X,...,2000.0,False,0,False,NaN,36394.0,36394.0,2,False,True
4,C,A,20230101,2023,52,2023,156,CHN,China,M,...,12000.0,False,0,False,3111154.0,NaN,3111154.0,0,True,False

In [5]:
df = df_raw.copy()

# 1) Keep only exports
df = df[df["flowCode"] == "X"]          # 'X' usually = Export

# 2) Keep only partner = USA
df = df[df["partnerDesc"] == "USA"]     # or "United States of America" if that’s how it shows

# 3) Keep only the reporters you care about (optional if you already filtered in Comtrade)
target_reporters = ["China", "Rep. of Korea", "Japan", "Viet Nam", "India"]
df = df[df["reporterDesc"].isin(target_reporters)]

df.head()

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
1,C,A,20230101,2023,52,2023,156,CHN,China,X,...,0.00,True,0,False,NaN,10160127.0,10160127.0,4,False,True
3,C,A,20230101,2023,52,2023,156,CHN,China,X,...,2000.00,False,0,False,NaN,36394.0,36394.0,2,False,True
6,C,A,20230101,2023,52,2023,156,CHN,China,X,...,2000.00,False,0,False,NaN,36394.0,36394.0,2,True,False
12,C,A,20230101,2023,52,2023,156,CHN,China,X,...,18107.29,True,0,False,NaN,10123733.0,10123733.0,6,False,True
14,C,A,20230101,2023,52,2023,156,CHN,China,X,...,17888.00,False,0,False,NaN,10109919.0,10109919.0,0,True,False